body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .menu-boton {
            margin: 10px;
            cursor: pointer;
        }
        .bton-cont {
            display: none;
            flex-wrap: wrap;
        }
        .bton1 {
            width: 100px;
            height: 100px;
            margin: 25px;
            cursor: pointer;
        }
        .bton2 {
            width: 100px;
            height: 100px;
            margin: 25px;
            cursor: pointer;
        }
        .bton3 {
            width: 100px;
            height: 100px;
            margin: 25px;
            cursor: pointer;
        }

        
        .video-show {
            margin: 10px;
            flex: 2;
            text-align: center;
        }
        video {
            max-width: 100%;
        }

        
        .info-container {
            flex: 1;
            padding: 20px;
        }